{% extends 'base.html.twig' %}

{% block title %}{% trans %}Product categories{% endtrans %} {% endblock %}

{% block body %}

    <div class="card mb-4 py-3 border-left-info">
        <div class="card-body">
            <h1 class="d-inline-block">{% trans %}Categories{% endtrans %}</h1>
                <a href="{{ path('category_product_add') }}" class="btn btn-success btn-icon-split float-right">
                    <span class="icon text-white-50">
                        <i class="fas fa-plus"></i>
                    </span>
                    <span class="text">{% trans %}Add category{% endtrans %}</span>
                </a>
            
        </div>
    </div>

    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Log</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="tableLog" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>{% trans %}ID{% endtrans %}</th>
                            <th>{% trans %}Name{% endtrans %}</th>
                            <th>{% trans %}Creation date{% endtrans %}</th>
                            <th>{% trans %}Action{% endtrans %}</th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th>{% trans %}ID{% endtrans %}</th>
                            <th>{% trans %}Name{% endtrans %}</th>
                            <th>{% trans %}Creation date{% endtrans %}</th>
                            <th>{% trans %}Action{% endtrans %}</th>
                        </tr>
                    </tfoot>
                    <tbody>
                    {% for category in categories %}
                        <tr>
                            <td>{{ category.id }}</td>
                            <td>{{ category.name }}</td>
                            <td>{{ category.createdAt|date('d/m/Y H:i:s') }}</td>
                            <td>
                                <a href="{{ path('category_product_update', {id: category.id}) }}" class="btn btn-warning"><i class="fas fa-edit"></i></a>
                                <a href="{{ path('category_product_delete', {id: category.id}) }}" class="btn btn-danger"><i class="fas fa-trash"></i></a>
                            </td>
                        </tr>
                    {% endfor %}
                                                
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    
    

{% endblock %}
