{% extends 'base.html.twig' %}

{% block title %}{% trans %}Add a recipe{% endtrans %}{% endblock %}

{% block body %}



    <div class="card mb-4 py-3 border-left-info">
        <div class="card-body">
            <h1 class="d-inline-block">{% if route == 'recipe_add' %}{% trans %}Add a recipe{% endtrans %}{% else %}{% trans %}Edit a recipe{% endtrans %}{% endif %}</h1>            
        </div>
    </div>
    {{ form_start(form) }}
        <div class="row justify-content-md-center">
        
            <div class="col-lg-2 col-md-6">
                {{ form_row(form.categoryRecipes) }}
            </div>
            <div class="col-lg-6 col-md-8">
                <div class="row">
                    <div class="col-12">
                        {{ form_row(form.name) }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-auto">
                        {{ form_row(form.nb_person) }}
                    </div>
                    <div class="col-auto">
                        {{ form_row(form.preparation_time) }}
                    </div>
                    <div class="col-auto">
                        {{ form_row(form.cooking_time) }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        {{ form_row(form.picture )}}
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="form-group">
                            <label for="recipe_ingredients" class="required">{% trans %}Ingredients{% endtrans %} </label>
                            <ul class="ingredients" data-prototype="{{ form_widget(form.ingredients.vars.prototype)|e('html_attr') }}">
                                {% for ingredient in form.ingredients %}
                                    <li>{{ form_row(ingredient) }}</li>
                                {% endfor %}
                            </ul>
                            <div class="mb-3">
                                    <button type="button" class="add_item_link_ingredient btn btn-success btn-circle" data-collection-holder-class="ingredients"><i class="fas fa-plus"></i></button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-12">
                        <div class="form-group">
                        <label for="recipe_preparation" class="required">{% trans %}Preparation{% endtrans %} </label>
                        <ul class="preparation" data-prototype="{{ form_widget(form.preparations.vars.prototype)|e('html_attr') }}">
                            {% for preparation in form.preparations %}
                                <li>{{ form_row(preparation) }}</li>
                            {% endfor %}
                        </ul>
                        <div class="mb-3">
                                <button type="button" class="add_item_link_preparation btn btn-success btn-circle" data-collection-holder-class="preparation"><i class="fas fa-plus"></i></button>
                        </div>
                    </div>
                </div>
                    
            </div>
                <div class="row">
                    <button class="btn btn-block btn-success" type="submit">{% trans %}Save{% endtrans %}</button>
                </div>
                        
                    
                
            </div>
            
        </div>
    {{ form_end(form) }}
    

{% endblock %}



    {% block javascripts %}
        <script src="{{ asset('js/custom.js') }}"></script>
    {% endblock %}
