{% extends 'base.html.twig' %}

{% block title %}Inventaire{% endblock %}

{% block body %}

    <div class="card mb-4 py-3 border-left-info">
        <div class="card-body">
            <h1 class="d-inline-block">Inventaire</h1>
                <a href="{{ path('stock_add') }}" class="btn btn-success btn-icon-split float-right">
                    <span class="icon text-white-50">
                        <i class="fas fa-plus"></i>
                    </span>
                    <span class="text">Ajouter un produit</span>
                </a>
            
        </div>
    </div>

    <div class="row">
    {% for product in products %}
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card">
                <img src="{{ asset('img/products/beurreDoux.jpeg') }}" alt="" width="100%">
                <div class="card-body">
                    <h5 class="card-title">{{ product.name  ~ " " ~ product.capacity ~ product.unitMeasureCapacity}}</h5>
                    <p class="card-text">Quantité : {{ product.quantity }}</p>
                    <a href="{{ path('stock_update_qte', {plusOrMinus: "plus", id: product.id}) }}" class="btn btn-success"><i class="fas fa-plus"></i></a>  
                        <a href="{{ path('stock_update_qte', {plusOrMinus: "minus", id: product.id}) }}" class="btn btn-danger"><i class="fas fa-{% if product.quantity <= 1 %}trash{% else %}minus{% endif %}"></i></a>
                    <a href="{{ path('stock_update', {id: product.id}) }}" class="btn btn-warning float-right"><i class="fas fa-edit"></i></a>
                </div>
            </div>
        </div>
    {% endfor %}
    </div>
    

{% endblock %}
